extends ../layout

block content
    style.
        #quarterbox{
            border : 1px solid black;
            overflow: hidden;
            width : 100%;
            height : 100%;
        }
        .text-bold{
            font-weight: bold;
        }
    each book,index in books
        div#page_content.w3-main.w3-content.w3-center
            div.w3-col-padding.w3-center
                div#quarterbox.w3-quarter
                    img(src=book.image)
                    h4
                        a(href=book.link) !{book.title}
                    p#author 저자 : !{book.author}  &#40;!{book.publisher} &#41;
                    p#price &#8361;!{book.price}
                    p#pubdate 출판년월일 : !{book.pubdate}
                    p#isbn ISBN : !{book.isbn}
                    details
                        summery
                            p#description !{book.description}