<!DOCTYPE html>
<html>
<head>
    <%- include ('../include_head') %>
    <style>
        table.tb-view{
            background-color: #E9ECEF;
        }
        table.tb-view th {
            background-color: #E9EcEf;
        }
        table.tb-view td {
            background-color: white;
        }
    </style>
</head>
<script>
    $(function(){
        $("button").click(function(){
            // button의 class값을 추출

            // 문자열.indexOf(찾을 문자열) : 문자열 내에 찾을 문자열이 들어있는지 검사하는 코드
            // ==> 문자열 내에 찾을 문자열이 있나?
            //      YES ==> 무조건 0보다 큰 값이 return
            //      NO ==> 0 미만을 return
            let thisClass = $(this).attr('class')
            if(thisClass.indexOf("btn-delete") != -1 ){
                if(confirm('삭제하시겠습니까?')){
                    document.location.replace('/bbs/delete/<%- bbs.b_id %>')
                }
                return false
            }else if(thisClass.indexOf("btn-update") != -1 ){
                document.location.href = "/bbs/update/<%- bbs.b_id %>"
                return false
            }else if(thisClass.indexOf("btn-list") != -1 ){
                document.location.href = '/'
                return false
            }
            
            $(button).submit()
        })

        
    })

</script>
<body>
    <%- include ('../include_header') %>
    <section class="container-fluid">
        <table class='w3-table-all tb-view w3-margin-bottom'>
            <tr>
                <th>작성일자</th><td><%- bbs.b_date %></td>
                <th>작성시각</th><td><%- bbs.b_time %></td>
                <th>작성자</th><td><%- bbs.b_writer %></td>
                <th>조회수</th><td><%- bbs.b_count %></td>
            </tr>
            <tr>
                <th>제목</th>
                <td colspan="7"><%- bbs.b_subject %></td>
            </tr>
            <tr>
                <td colspan="8"><%- bbs.b_text %></td>
            </tr>
        </table>
        <button type="button" class="w3-button w3-red w3-right w3-margin-left btn-delete">삭제</button>
        <button type="button" class="w3-button w3-orange w3-right w3-margin-left btn-update">수정</button>
        <button type="button" class="w3-button w3-green btn-list">목록으로</button>
    </section>
</body>

</html>